@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
    box-sizing: border-box;
    outline: none;
}

body, header {
    background: #EEE8DC;
    color: #000;
}
body.dark, .dark header {
    background: #222;
    color: #eee;
}

label {
    user-select: none;
}

h1 {
    @apply text-4xl;
    @apply font-bold;
}
h2 {
    @apply text-3xl;
}
h3 {
    @apply text-2xl;
}
h4 {
    @apply text-xl;
}
h5 {
    @apply text-[14px];
}
h6 {
    @apply text-[12px];
}

.mainColor {
    color: #a70;
}
.mainBg {
    background: #a70;
}
.gradientBg {
    background-image: radial-gradient(circle at 40% 50%, #aa7700aa, transparent 80%);
}
.dark .mainBg {
    background: #a70;
}
label, input, p, button {
    @apply text-[16px];
    @apply lg:text-[12px];
}

.dark input {
    color: #eee;
}
input {
    color: #000;
}
button {
    cursor: pointer;
}