.dealsWrapper > div:nth-child(odd) > .dealImageWrapper {
    order: 1;
    background: linear-gradient(270deg, #EEE8DC 70%, #dcd0b8 30%);
}
.darkMode .dealsWrapper > div:nth-child(odd) > .dealImageWrapper {
    order: 1;
    background: linear-gradient(270deg, #222 70%, #333 30%);
}

.dealsWrapper > div:nth-child(even) > .dealImageWrapper {
    order: 0;
    background: linear-gradient(90deg, #EEE8DC 70%, #dcd0b8 30%);
}
.darkMode .dealsWrapper > div:nth-child(even) > .dealImageWrapper {
    order: 0;
    background: linear-gradient(90deg, #222 70%, #333 30%);
}

@media (min-width: 1024px) {
    .dealsWrapper > div:nth-child(odd) {
        @apply border-l-[0.5px]
    }
    .dealsWrapper > div:nth-child(even) {
        @apply border-r-[0.5px]
    }
}